{% extends 'base.html' %}
{% block content %}

<div class="row">
  {% for article in articles %}
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          {{ article.category }} | {{ article.created_at }}
        </div>
        <div class="card-body">
          <div class="card-text">
            <h1>{{ article.title }}</h1>
          </div>
          <div class="card-text">
            {{ article.introduction }}
          </div>
          <div class="card-text p-3">
            <a class="btn btn-outline-primary btn-sm" href="#">Voir l'article</a>
          </div>
        </div>
      </div>
    </div>

  {% endfor %}
  
</div>


{% endblock content %}