{% extends 'base.html' %}
{% block content %}

<div>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
  Minus modi eveniet iusto ipsum, in autem sunt quaerat 
  repellat illum et officia, porro repellendus dolores 
  nulla excepturi quidem veritatis rem nam asperiores a 
  voluptates fuga neque sit magni. Impedit optio, doloremque 
  laboriosam corporis officiis sapiente sed necessitatibus fuga. 
  Dolor esse repudiandae molestiae maiores magni ratione pariatur, 
  voluptates eius! Laudantium, excepturi distinctio perferendis 
  omnis neque voluptatum, minima praesentium voluptates ipsa expedita accusantium tempore. 
  Ad, magni minus laboriosam dicta eos asperiores 
  quod ea ut tempore amet tenetur alias ullam commodi 
  repudiandae pariatur possimus itaque unde! Quis deleniti 
  molestiae ea quaerat suscipit. Eos, ullam.
</div>


{% endblock content %}